		 <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:1}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="name" type="text" class="txt" id="name" value="{$data['name']}">
		<input name="id" type="hidden"  id="id" value="{$data['id']}">
		</td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:2}</td>
      </tr>
	  <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:3}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="url" type="text" class="txt" id="url" value="{$data['url']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:4}</td>
      </tr>
         <tr class="noborder">
             <td class="vtop rowform"><input name="path" type="text" class="txt" id="path" value="{$data['path']}"></td>
             <td class="vtop tips2" s="1"><font style="color:red">{lang haoxinqing_me_cj:5}</font>  {lang haoxinqing_me_cj:6}</td>
         </tr>
      <tr>
      <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:7}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="user_name" type="text" class="txt" id="user_name" value="{$data['user_name']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:8}</td>
      </tr>
      <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:9}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="page_regex" type="text" class="txt" id="page_regex" value="{$data['page_regex']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:10}</td>
      </tr>
       <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:11}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="num" type="text" class="txt" id="num" value="{$data['num']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:12}</td>
      </tr>
      <tr>
      <tr>
      <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:13}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="list_regex" type="text" class="txt" id="list_regex" value="{$data['list_regex']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:14}</td>
      </tr>
      <tr>
      <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:15}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="title_regex" type="text" class="txt" id="title_regex" value="{$data['title_regex']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:16}</td>
      </tr>
      <tr>
      <tr>
      <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:17}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="content_regex" type="text" class="txt" id="content_regex" value="{$data['content_regex']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:18} ）</td>
      </tr>
	   <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:19}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="src_pre" type="text" class="txt" id="src_pre" value="{$data['src_pre']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:20} ）</td>
      </tr>
	  <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:21}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="download" type="text" class="txt" id="src_pre" value="{$data['download']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:22} ）</td>
      </tr>
      <tr>
        <td colspan="15"><div class="fixsel">
            <input type="submit" class="btn" id="submit_submit" name="submit" title="按 Enter 键可随时提交您的修改" value="提交">
          </div></td>
      </tr>
      <script type="text/JavaScript">_attachEvent(document.documentElement, 'keydown', function (e) { entersubmit(e, 'submit'); });</script>
    </tbody>
  </table>

