		 <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:1}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="name" type="text" class="txt" id="name" value="{$data['name']}">
		<input name="id" type="hidden"  id="id" value="{$data['id']}">
		</td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:2}</td>
      </tr>
	  <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:3}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="url" type="text" class="txt" id="url" value="{$data['url']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:4}</td>
      </tr>
         
      <tr>
      <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:7}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="user_name" type="text" class="txt" id="user_name" value="{$data['user_name']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:8}</td>
      </tr>
     <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:rep_str}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><textarea rows="10"  name="rep_str" type="text" class="txt" id="rep_str" >{$data['rep_str']}</textarea></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:rep_str_tip}</td>
      </tr>
       <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:11}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="num" type="text" class="txt" id="num" value="{$data['num']}"></td>
        <td class="vtop tips2" s="1">{lang haoxinqing_me_cj:12}</td>
      </tr>
      <tr>
      <tr>
      
      <tr>
      <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:15}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="title_regex" type="text" class="txt" id="title_regex" value="#activity-name"></td>
        <td class="vtop tips2" s="1"></td>
      </tr>
      <tr>
      <tr>
      <tr>
        <td colspan="2" class="td27" s="1">{lang haoxinqing_me_cj:17}</td>
      </tr>
      <tr class="noborder">
        <td class="vtop rowform"><input name="content_regex" type="text" class="txt" id="content_regex" value="#js_content"></td>
		<input name="type" type="hidden"  value="1">
        <td class="vtop tips2" s="1"></td>
      </tr>
	 
	  
      <tr>
        <td colspan="15"><div class="fixsel">
            <input type="submit" class="btn" id="submit_submit" name="submit" title="" value="{$lang['submit']}">
          </div></td>
      </tr>
      <script type="text/JavaScript">_attachEvent(document.documentElement, 'keydown', function (e) { entersubmit(e, 'submit'); });</script>
    </tbody>
  </table>

